//
// custom text stylings (just in case)


.bluemph {
  color: #22F;
  text-shadow: -0.1rem 0.1rem 0 #666;
  font-style: italic;
}

.redmph {
  color: #F22;
  text-shadow: 0.1rem -0.1rem 0 #666;
  font-style: italic;
}



//==================

.bgc-core {
  background-color: $k0U;
}

.bgc-post {
  background-color: $k0Z;
}


// .sc {
//   font-variant: small-caps;
// }




//==========================
// code block styling

// #abaeb3
// #3f5c70 // comment
// #3ca380
// #699abc
// #484879
// #6767ae
// #ff8247
// #f74d4d

.sourceCode {

  .st { color: #f74d4d }

  .dt { color: #484879 }

  .fu { color: #699abc }

  .kw { color: #3ca380 }

  .op { color: #ff8247 }
  
  .ot { color: #6767ae }

  .co { color: #3f5c70 }

}
