/*
 * _kleuren.scss
 *
 */




$k0U: hsl(     0,  91.4%, 63.53%);        // reddish
$k0V: hsl( 26.04,   100%, 58.43%);        // orangey
$k0W: hsl( 54   ,   100%, 64%   );        // yellowish
$k0X: hsl(146.04,   100%, 58.43%);        // greenish
$k0Y: hsl(196.12, 65.04%, 48.24%);        // bluish
$k0Z: hsl(266.04,   100%, 58.43%);        // violety

$k00: hsl(     0,     0%,  2.35%);        // blacky
$k01: hsl(     0,     0%, 97.25%);        // whitish
$k02: hsl(     0,     0%, 53.33%);        // medium-dark gray
$k03: hsl(     0,     0%,    80%);        // medium-light gray


/* #F74D4D */
/* #FA8585 */
/* #FF872B */
/* #FFAD6E */
/* #FFED47 */
/* #FFFD9C */
/* #2BFF87 */
/* #A1FFCA */
/* #2BA0CB */
/* #98D3E9 */
/* #872BFF */
/* #CCA6FF */

/* #060606 */
/* #F8F8F8 */
/* #888888 */
/* #CCCCCC */








// =============================================

/* $staticcolor: rgb(247, 77, 77); */
/* $aboutcolor: rgb(255, 135, 43); */
/* $cvcolor: rgb(255, 251, 24); */
/* $artcolor: rgb(43, 255, 135); */
/* $contactcolor: rgb(43, 160, 203); */

/* $postscolor: rgb(135, 43, 255); */
