      <article>
	<h1>An Unsettled Title</h1>
	
	<h3>2014 November 26</h3>

	<p>This could be the beginning of a fascinating article, even though
	  it's probably more likely to just be a test sentence for this CSS here.</p>

	<p>Here is some test source code...</p>

	
	<pre><code>module Last where
import Prelude hiding (last)

last :: [a] -> a
last (x:y:xs) = last (y:xs)
last (x:[]) = x</code></pre>

	<p>Hopefully that showed up nicely. It'll look even nicer when the syntax highlighting CSS is mixed in.</p>

	<blockquote><p>This is a block quotation</p></blockquote>

	<p>(That was a block quotation.)</p>

	<img src="./testphoto2.jpg" title="natural benefit from jeju" />

	<p><em>That</em> on the other hand was an image.</p>

	<!-- <footer> -->
	<!-- </footer> -->
	

      </article>
