<div id="overasider">
  <div class="curtain">
  </div>

  <nav id="nav0">
    <a class="bk0U" href="/index.html">myself</a>
    <!-- <a class="bk0V" href="#">yield</a> -->
    <!-- <a class="bk0W" href="#">etc</a>
         <a class="bk0X" href="#">bank</a> -->
    <a class="bk0Y" href="/meta/ntc.html">site</a>
    <a class="bk0Z" href=$lpUrl$>posts</a>
    <!-- <a class="bk0X" href="#">??</a> -->
  </nav>

  <!-- ..id="myleftfoot" lol -->
  <footer id="thelastword">
    <p>&copy; (or whatever) 2017 Eli T. Drumm</p>
    <p>made with Hakyll and <a href="/meta/ntc.html">other technologies</a></p>
  </footer>
</div>
