<!--

     - scan bank folder, identify new lists and assign number


-->

$partial("templates/head.html")$

<body>

<!-- ... -->

  <main class=$if(protobankid)$
                "protobank $protobankid$"
              $else$
                "protobank"
              $endif$>
      
    $body$

  </main>
  

  <div id="asider">
    <h2><a href="#">(index)</a></h2>
    
    <!-- ... -->

    <!-- GENERATE INDEX OF LISTS -->
    <!-- ... or just table of contents? -->
    <!--     index, description, potential, ..  -->

    <!-- ... -->
    
  </div>

  $partial("templates/overasider.html")$

</body>
