$partial("templates/head.html")$

<body>

<!-- ... -->
  <main class="site">
    $body$
  </main>

  <div id="asider">
    <nav id="sitenav">
      <h2><a href="/meta/ntc.html">overview</a></h2>
      <h2><a href="/meta/to-implement.html">to-implement</a></h2>
      <!-- <h2><a href="#">styledemo</a></h2> -->
      <!-- <h2><a href="#">typography</a></h2> -->
      <h2><a href="/aanvullend/palettetest2.html">palette</a></h2>
      <!-- <h2><a href="#">versions</a></h2> -->
    </nav>
  </div>

  $partial("templates/overasider.html")$

</body>
