$partial("templates/head.html")$

<body>

  <main class=$if(staticid)$
                "core $staticid$"
              $else$
                "core"
              $endif$>
    $body$
  </main>

  <div id="asider">
    <nav id="corenav">
      <h2><a href="/about.html">about</a></h2>
      <h2><a href="/rte.html">route</a></h2>
      <!-- <h2><a href="/res.html">rés</a></h2> -->  <!--rt-->
      <!-- <h2><a href="/profiles.html">profiles</a></h2> -->
      <!-- <h2><a href="#">art</a></h2> -->
      <h2><a href="/contact.html">contact</a></h2>
    </nav>
  </div>

  $partial("templates/overasider.html")$

</body>
